/* FEUILLE DE STYLE Find The Precious*/












/*Overlay
-----------------------------------------------*/

.overlay-image {
	position: relative;
	width: 100%;
	border: 1px solid red;
}

.overlay-image img {
	display: block;
	width: 100%;
	height: auto;
}

.overlay-image .text {
	color: #fff;
	font-size: 15px;
	text-align: center;
	position: absolute;
	top: 10px;
	left: 20px;
	opacity: 0;
	transform: translate(-50%, -50%);
	width: 100%;
}

.overlay-image:hover  .hover{
	opacity: 1;
	background-color: rgba(0,0,0,0.5);
}